<li class="am-text-break am-comment">
    <a href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnregyyDrMvhEDpfC4wFetzykulWRVMGF-jp7RXIIqZ5ffEdawIA" alt="" class="am-comment-avatar" width="48" height="48">
    </a>
    <div class="am-comment-main">
        <header class="am-comment-hd">
            <div class="am-comment-meta">
                <a href="#" class="am-comment-author">老铁</a>
                <time datetime="">2018-05-21 17:33:00</time>
            </div>
        </header>
        <div class="am-comment-bd">
            <p>body</p>
        </div>
    </div>
</li>
<li class="am-text-break am-comment">
    <a href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnregyyDrMvhEDpfC4wFetzykulWRVMGF-jp7RXIIqZ5ffEdawIA" alt="" class="am-comment-avatar" width="48" height="48">
    </a>
    <div class="am-comment-main">
        <header class="am-comment-hd">
            <div class="am-comment-meta">
                <a href="#" class="am-comment-author">老铁</a>
                <time datetime="">2018-05-21 17:33:00</time>
            </div>
        </header>
        <div class="am-comment-bd">
            <p>body</p>
        </div>
    </div>
</li>




<div class="am-g">
    <div class="am-u-md-12">
        <a class="am-icon-user am-margin-right-xs am-primary"></a>老王
    </div>
</div>
<div class="am-g">
    <div class="am-u-md-12">
        <a class="am-icon-user am-margin-right-xs am-primary"></a>老李
    </div>
</div>